/*.profilebox {
	border: 1px red dotted;
}


.bigbox {
	border: 1px blue dotted;
}

.contentbox {
	border: 1px green dotted;
	padding: 0;
}

.bigbox {
	border: 1px blue dotted;
}
*/
.container {
	max-width: 1000px;
}

.fb-like {
	padding: 0;
	width: 100% !important;
}

.profile {
	margin-right: 40px;
}

.profile aside p {
	font-size: 12px;

}

.profile aside ul li {
	float: left;
	margin-right: 8px;
}

.profile aside ul {
	list-style: none;
	padding: 0px;
}


